# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env

# SQLite Databases
*.db
*.sqlite3

# Logs
*.log

# Caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
